{% extends 'base.html.twig' %}

{% block title %}Enregistrement{% endblock %}

{% block body %}
<section>
    {% for flash_error in app.flashes('verify_email_error') %}
    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>INSCRIPTION</h1>
    <hr>
    {{ form_start(registrationForm) }}
    {{ form_label(registrationForm.firstname, 'Prénom', {'firstname': {'class': 'form-label'}}) }}
    {{ form_widget(registrationForm.firstname, {'firstname': {'class': 'form-control'}}) }}
    <br>
    {{ form_label(registrationForm.email, 'Email', {'email': {'class': 'form-label'}}) }}
    {{ form_widget(registrationForm.email, {'email': {'class': 'form-control'}}) }}
    <br>
    {{ form_label(registrationForm.plainPassword, 'Mot de passe', {'password': {'class': 'form-label'}}) }}
    {{ form_widget(registrationForm.plainPassword, {'password': {'class': 'form-control'}}) }}
    <br>
    {{ form_label(registrationForm.agreeTerms, 'J accepte les CGU', {'agreeTerms': {'class': 'custom-control-label'}}) }}
    {{ form_widget(registrationForm.agreeTerms, {'agreeTerms': {'class': 'custom-control-input'}}) }}
    <br>
    <button type="submit" class="btn btn-outline-success rounded-pill">Enregistrer</button>
    {{ form_end(registrationForm) }}
</section>
{% endblock %}