{% extends 'base.html.twig' %}

{% block title %}Fil de discussion{% endblock %}

{% block body %}
    <section class="swap_dashboard">
        {% set messages = app.flashes("success") %}

        {% if swap.asker.id == app.user.id %}
            <h1>Discussion avec {{ swap.helper.firstname }}</h1>
        {% else %}
            <h1>Discussion avec {{ swap.asker.firstname }}</h1>
        {% endif %}
        <h2>Skill : {{ swap.skill.name }}</h2>
        <h2>Débutée le : {{ swap.date|date("d/m/Y") }}</h2>
        {% if swap.isDone %}
            <h2>Clôturée.</h2>
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show mt-5 text-center rounded-3 shadow" role="alert">
                    <p>{{ message }}</p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
                </div>
            {% endfor %}
        {% else %}
        <hr>
        <h2> Répondez :</h2>
            {{ form_start(form) }}
            {{ form_errors(form) }}
                {{ form_widget(form.message, {'attr': {'class': 'msg_new'}}) }}
                <input class="btnModifProfile btn btn-outline-danger rounded-pill mt-3" type="submit" value="Envoyer votre message" />
                {% if swap.discussions is empty %}
                    <p class="ms-3 mt-2"><i>Pour refuser un Swap, merci d'envoyer un message et de cliquer sur "terminer le Swap" en bas de cette page.</i></p>
                {% endif %}
            {{ form_end(form) }}
        {% endif %}
        <div class="discussion mt-4">
            {% for discussion in swap.discussions|reverse %}
                <div class="discussion_item">
                    {% if discussion.sender.id == app.user.id %}
                        <p class="msg_asker">{{ discussion.message }}</p>
                    {% else %}
                        <p class="msg_helper">{{ discussion.message }}</p>
                    {% endif %}
                    <p class="infos">de {{ discussion.sender.firstname }} - {{ discussion.date|date("d/m/Y H:i") }}</p>
                </div>
            {% endfor %}
            <div class="discussion_item">
                {% if swap.asker.id == app.user.id %}
                    <p class="msg_asker">{{ swap.message }}</p>
                {% else %}
                    <p class="msg_helper">{{ swap.message }}</p>
                {% endif %}
                <p class="infos">de {{ swap.asker.firstname }} - {{ swap.date|date("d/m/Y H:i") }}</p>
            </div>
        </div>
        {% if swap.isDone %}
            {% if swap.asker.id == app.user.id %}
                <a class="btnModifProfile btn btn-outline-danger rounded-pill mt-3" href="{{ path('comment', {id: swap.helper.id}) }}">Envoyer un commentaire</a>
            {% endif %}
        {% else %}
            <a class="btnModifProfile btn btn-outline-danger rounded-pill mt-3" href="{{ path('swap_finish', {id: swap.id}) }}">Terminer le Swap</a>
        {% endif %}
    </section>
{% endblock %}