{% extends 'base.html.twig' %}

{% block title %}Formulaire de demande de Swap{% endblock %}

{% block body %}
<section>
    {% set messages = app.flashes("success") %}

    {% if messages is empty %}
        <h1>Formulaire de demande de Swap</h1>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="comment_form">
            <p>
                Skill : {{ skill.name }}
            </p>
            <p>
            {{ form_label(form.message, 'Message à l\'intention de : ', {'label_attr': {'class': 'contact_label'}}) }} <b>{{ user.firstname }}</b>
            {{ form_widget(form.message, {'attr': {'class': 'contact_widget'}}) }}
            </p>
        </div>
        <input type="submit" value="Envoyer votre demande" />
        {{ form_end(form) }}
    {% else %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show mt-5 text-center rounded-3 shadow" role="alert">
                <p>{{ message }}</p>
                <a href="{{ path('dashboard') }}">Voir votre tableau de bord</a>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
            </div>
        {% endfor %}
    {% endif %}
</section>
{% endblock %}