{% extends 'base.html.twig' %}

{% block title %}Formulaire de demande de Swap{% endblock %}

{% block body %}
<section>

<h1 class="d-flex justify-content-center mt-5">Formulaire de demande de Swap</h1>

{% set messages = app.flashes("success") %}

{% if messages is empty %}
    <div class="d-flex mx-auto">
        {% if is_granted("ROLE_USER") %}
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="mt-4">
                Skill : {{ skill.name }}
            </div>
            <div class="mt-4">
                {{ form_label(form.message, 'Message à l\'intention de : ', {'label_attr': {'class': 'ask_label'}}) }} <b>{{ user.firstname }}</b>
                {{ form_widget(form.message) }}
            </div>
            <input class="btnModifProfile btn btn-outline-danger rounded-pill mx-5 mt-4" type="submit" value="Envoyer votre demande" />
            {{ form_end(form) }}
        {% endif %}
    </div>
{% else %}
    <div class="alert alert-success" role="alert">
        <p>{{ messages.0 }}</p>
        <a href="/">Retour à la page d'accueil</a>
    </div>
{% endif %}
</section>
{% endblock %}
