{% extends 'base.html.twig' %}

{% block title %}Hello SwapController!{% endblock %}

{% block body %}
<div class="container">
{% if (skill.user is not empty) %}
    {% for user in skill.user %}
        {% if (user.available) %}
            <div class="card" style="width: 18rem;">
                <div class="swap_picture">
                    <img id="pic" src="/upload/avatars/{{ user.picture }}" class="card-img-top" alt="photo de {{ user.firstname }}">
                </div>
                <div class="card-body">
                    <h5 class="swap_h5 card-title">{{ user.firstname }}</h5>
                    <hr>
                    <div class="p_contain">
                        <p class="swap_p card-text">{{ user.description }}</p>
                    </div>
                    <br>
                    <div class="container">
                        <a href="{{ path("swapper_display", {"skill_id": skill.id, "user_id": user.id}) }}" class="swap_btn btn btn-primary">En savoir plus...</a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% else %}
<div class="card" style="width: 18rem;">
    <img src="/upload/avatars/bench.webp" class="card-img-top" alt="photo par défaut">
        <div class="card-body">
            <h5 class="swap_h5 card-title">Désolé !</h5>
            <hr>
            <div class="p_contain">
                <p class="swap_p card-text">Il n'y a encore aucun swapper compétent en :</p>
                <h5 class="swap_h5 card-title">{{ skill.name }}</h5>
            </div>
        </div>
    </div>
{% endif %}
</div>
{% endblock %}
