{% extends 'base.html.twig' %}

{% block title %}Swap - Tableau de bord{% endblock %}

{% block body %}
    {% set messages = app.flashes("success") %}
    <h1>Discussion de {{ swap.asker.firstname }} avec {{ swap.helper.firstname }}</h1>
    <h2>Skill : {{ swap.skill.name }}</h2>
    <h2>Débuté le {{ swap.date|date("d/m/Y") }}</h2>
    {% if swap.isDone %}
        <h2>Cloturé.</h2>
        {% if messages is not empty %}
            <div class="alert alert-success" role="alert">
                <p>{{ messages.0 }}</p>
            </div>
        {% endif %}
    {% else %}
        {{ form_start(form) }}
        {{ form_errors(form) }}
            <div class="comment_form">
                <p>
                {{ form_label(form.message, 'message :', {'label_attr': {'class': 'contact_label'}}) }}
                {{ form_widget(form.message, {'attr': {'class': 'contact_widget'}}) }}
                </p>
            </div>
            <input type="submit" value="Envoyer votre message" />
        {{ form_end(form) }}
    {% endif %}
    <div class="swap_dashboard_discussion">
        {% for discussion in swap.discussions|reverse %}
            <div class="swap_dashboard">
                <p class="swap_dashboard_message">{{ discussion.message }}</p>
                <p class="swap_dashboard_infos">De {{ discussion.sender.firstname }} - {{ discussion.date|date("d/m/Y H:i") }}</p>
            </div>
        {% endfor %}
            <div class="swap_dashboard">
                <p class="swap_dashboard_message">{{ swap.message }}</p>
                <p class="swap_dashboard_infos">de {{ swap.asker.firstname }} - {{ swap.date|date("d/m/Y H:i") }}</p>
            </div>
        </div>
    {% if swap.isDone %}
        {% if swap.asker.id == app.user.id %}
            <a class="swap_dashboard_buttton" href="{{ path('comment', {id: swap.helper.id}) }}">Envoyer un commentaire</a>
        {% endif %}
    {% else %}
        <a class="swap_dashboard_buttton" href="{{ path('swap_finish', {id: swap.id}) }}">Terminer le Swap</a>
    {% endif %}
{% endblock %}