{% extends 'base.html.twig' %}

{% block title %}Formulaire de commentaire{% endblock %}

{% block body %}

{% set messages = app.flashes("success") %}

{% if messages is empty %}
<h1>Formulaire de commentaire</h1>
{{ form_start(form) }}
{{ form_errors(form) }}
    <div class="comment_form">
        <p>
            {{ form_label(form.message, 'message :', {'label_attr': {'class': 'contact_label'}}) }}
            {{ form_widget(form.message, {'attr': {'class': 'contact_widget'}}) }}
        </p>
        <p>
            {{ form_label(form.rating, 'rating :', {'label_attr': {'class': 'rating_label'}}) }}
            {{ form_widget(form.rating, {'attr': {'class': 'rating_widget'}}) }}
        </p>
    </div>
    <input type="submit" value="Envoyez votre commentaire" />
{{ form_end(form) }}
{% else %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show mt-5 text-center rounded-3 shadow" role="alert">
            <p>{{ message }}</p>
            <a href="/">Retour à la page d'accueil</a>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
        </div>
    {% endfor %}
{% endif %}
{% endblock %}