{% extends 'base.html.twig' %}

{% block title %}Formulaire de commentaire{% endblock %}

{% block body %}
<section class="comment">

<h1>Formulaire de commentaire</h1>

{% set messages = app.flashes("success") %}

{% if messages is empty %}
    <div class="d-flex mx-auto">
        {% if is_granted("ROLE_USER") %}
            {{ form_start(form) }}
            {{ form_errors(form) }}
                <div class="mt-3">
                    {{ form_label(form.message, 'Message') }}
                    {{ form_widget(form.message) }}
                </div>
                <div class="mt-2">
                    {{ form_label(form.rating, 'Veuillez sélectionner une note ci-dessous', {'label_attr': {'class': 'rating_label'}}) }}
                    {{ form_widget(form.rating, {'attr': {'class': 'rating_widget'}}) }}
                </div>
                <input class="btnModifProfile btn btn-outline-danger rounded-pill mx-5 mt-4" type="submit" value="Envoyez votre commentaire" />
            {{ form_end(form) }}
        {% endif %}
    </div>
{% else %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show mt-5 text-center rounded-3 shadow" role="alert">
            <p>{{ message }}</p>
            <a href="/">Retour à la page d'accueil</a>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
        </div>
    {% endfor %}
{% endif %}
</section>
{% endblock %}
