{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
<section>
    <a href="{{ path('admin_dashboard') }}"
        class="profilBtnEdit ms-4 btnModifProfile btn btn-outline-danger rounded-pill">Retour</a>
    <h1>Les utilisateurs :</h1>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Rôles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>
                    <ul>
                        {% for role in user.roles %}
                        <li>{{ role }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <a href="{{ path('admin_user_show', {'id': user.id}) }}"
                        class="btnModifProfile btn btn-outline-danger rounded-pill">Détail</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}