{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
<section class="adminUserShow">
<a class="profilBtnEdit ms-4" href="{{ path('admin_users') }}">
    <button type="button" class="btnModifProfile btn btn-outline-danger rounded-pill">
        Retour
    </button>
</a>
<h1>Utilistateur</h1>

<table class="table">
    <tbody>
        <tr>
            <img src="/upload/avatars/{{ user.picture }}" alt="ne s'affiche pas">
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Firstname</th>
            <td>{{ user.firstname }}</td>
        </tr>
        <tr>
            <th>Lastname</th>
            <td>{{ user.lastname }}</td>
        </tr>
        <tr>
            <th>Linkedin</th>
            <td>{{ user.linkedin }}</td>
        </tr>
        <tr>
            <th>Website</th>
            <td>{{ user.website }}</td>
        </tr>
        <tr>
            <th>Company</th>
            <td>{{ user.company }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ user.description }}</td>
        </tr>
        <tr>
            {% if user.available %}
               Disponible
            {% else %}
                Indisponible
            {% endif %}
        </tr>
        <tr>
            <ul>
            {% for role in user.roles %}
                <li>{{ role }}</li>
            {% endfor %}
            </ul>
        </tr>
    </tbody>
</table>
<table class="receivedComments">
    <thead>
        <tr>
            <th>Envoyer</th>
            <th>Destinataire</th>
        </tr>
    </thead>
    <tbody>
    {% for comment in user.receivedComments %}
        <tr>
            <td class="comment">
                {{ comment.message }}
            </td>
            <td class="ms-3">
                {{ comment.recipient.firstname }} {{ comment.recipient.lastname }}
            </td>
            <td>
                {{ include('admin/_delete_comment_form.html.twig') }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<hr>
<table class="sentComments">
    <thead>
        <tr>
            <th>Reçu</th>
            <th>Expediteur</th>
        </tr>
    </thead>
    <tbody>
     {% for comment in user.sentComments %}
        <tr>
            <td>
                {{ comment.message }}
            </td>
            <td>
                {{ comment.sender.firstname }} {{ comment.sender.lastname }}
            </td>
            <td>
                {{ include('admin/_delete_comment_form.html.twig') }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</section>
{% endblock %}