{% extends 'base.html.twig' %}

{% block body %}

<h1 class="justify-content-center mx-0 my-4">Formulaire de contact</h1>

{% set messages = app.flashes("success") %}

{% if messages is empty %}
    <div class="form_contact">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {% if is_granted("ROLE_USER") %}
        <div class="row">
            <div class="col">
                {{ form_label(form.firstname, 'Prénom', {'label_attr': {'class': 'form_label'}}) }}
                {{ form_widget(form.firstname, {'attr': {'class': 'contact_widget', 'value': app.user.firstname}}) }}
            </div>
            <div class="col">
                {{ form_label(form.email, 'Email', {'label_attr': {'class': 'form_label'}}) }}
                {{ form_widget(form.email, {'attr': {'class': 'contact_widget', 'value': app.user.email}}) }}
            </div>

        {% else %}
            <div class="col">
                {{ form_label(form.firstname, 'Prénom', {'label_attr': {'class': 'form_label'}}) }}
                {{ form_widget(form.firstname, {'attr': {'class': 'contact_widget'}}) }}
            </div>
            <div class="col">
                {{ form_label(form.email, 'Email', {'label_attr': {'class': 'form_label'}}) }}
                {{ form_widget(form.email, {'attr': {'class': 'contact_widget'}}) }}
            </div>

        {% endif %}
            <div class="col">
                {{ form_label(form.text, 'Texte', {'label_attr': {'class': 'form_label'}}) }}
                {{ form_widget(form.text, {'attr': {'class': 'contact_widget'}}) }}
            </div>
            <input class="btnModifProfile btn btn-outline-danger rounded-pill mx-5 mt-4" type="submit" value="Envoyer votre demande" />
        </div>
        {{ form_end(form) }}
    </div>
    {% else %}

    <div class="alert alert-success" role="alert">
        <p>{{ messages.0 }}</p>
        <a href="/">Retour à la page d'accueil</a>
    </div>

{% endif %}
{% endblock %}
