{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <section class="dashboard">
        <div class="dashboard_asked">
            <h1>Swaps lancés</h1>
            {% for swap_asked in swaps_asked|reverse %}
                <div class="swap_asked">
                    <div class="dashboard_item mt-1">
                        {{ swap_asked.skill.name }} avec {{ swap_asked.helper.firstname }}
                        <a href="{{ path('swap_dashboard', {"id": swap_asked.id}) }}" class="btnModifProfile btn btn-outline-danger rounded-pill">voir les détails</a>
                    </div>
                    {% if swap_asked.isDone %}
                        <p class="notbtn btn btn-outline-danger rounded-pill ms-5 mt-4">terminé</p>
                    {% else %}
                        {% if swap_asked.isAccepted %}
                            <p class="notbtn btn btn-outline-success rounded-pill ms-5 mt-4">en cours</p>
                        {% else %}
                            <p class="notbtn btn btn-outline-warning rounded-pill ms-5 mt-4">non accepté</p>
                        {% endif %}
                    {% endif %}
                    <p class="infos">{{ swap_asked.date|date('d/m/Y H:i T') }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="dashboard_helped">
            <h1>Swaps reçus</h1>
            {% for swap_helped in swaps_helped|reverse %}
                <div class="swap_helped">
                    <div class="dashboard_item mt-1">
                        {{ swap_helped.skill.name }} avec {{ swap_helped.asker.firstname }}
                        <a href="{{ path('swap_dashboard', {"id": swap_helped.id}) }}" class="btnModifProfile btn btn-outline-danger rounded-pill">voir les détails</a>
                    </div>
                    {% if swap_helped.isDone %}
                        <p class="notbtn btn btn-outline-danger rounded-pill ms-5 mt-4">terminé</p>
                    {% else %}
                        {% if swap_helped.isAccepted %}
                            <p class="notbtn btn btn-outline-success rounded-pill ms-5 mt-4">en cours</p>
                        {% else %}
                            <p class="notbtn btn btn-outline-warning rounded-pill ms-5 mt-4">non accepté</p>
                        {% endif %}
                    {% endif %}
                    <p class="infos">{{ swap_helped.date|date('d/m/Y H:i') }}</p>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
