{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<section class="profile">
    {% for message in app.flashes('notice') %}
    <div class="flash-notice">
        {{ message }}
    </div>
    {% endfor %}
    <h1>Profil</h1>
    <main class="mainProfile">
        <div class="desktopLeft">
            <div class="desktopProfile">
                <div class="profilTop">
                    <img class='userPicture' src="/upload/avatars/{{ app.user.picture }}" alt="ne s'affiche pas">
                    <div class="profilRight">
                        <p>{{ app.user.notation }} / 5</p>
                        {% if app.user.available %}
                        <a href="{{ path('users_availability') }}"><button type="button"
                                class="btn btn-outline-success rounded-pill">Disponible</button></a>
                        {% else %}
                        <a href="{{ path('users_availability') }}"><button type="button"
                                class="btn btn-outline-danger rounded-pill">Indisponible</button></a>
                        {% endif %}
                        <h5>{{ app.user.firstname }} {{ app.user.lastname }}</h5>
                    </div>
                </div>
                <ul class="profilTable">
                    <li><b>Email : </b> {{ app.user.email }}</li>
                    <li><b>Linkedin : </b> {{ app.user.linkedin }}</li>
                    <li><b>Site Web : </b> {{ app.user.website }}</li>
                    <li><b>Société : </b> {{ app.user.company }}</li>
                </ul>
            </div>
            <ul class="description">
                <li><b>Description : </b>{{ app.user.description }}</li>
            </ul>

            <a class="profilBtnEdit" href="{{ path('users_edit_profile') }}"><button type="button"
                    class="btnModifProfile btn btn-outline-danger rounded-pill">Modifier votre profil</button></a>
        </div>
        <div class="profilBottom">
            <h5>Vos Compétences :</h5>
            <ul class="skillList">
            {% for skill in app.user.skill|slice(0, 5) %}
                <li>{{ skill.name }}</li>
            {% endfor %}
            </ul>
            {% include "users/_userSkillForm.html.twig" %}
        </div>

        <div class="comments">
            <h5>Commentaires :</h5>
            <div class="comment">
                {% for comment in app.user.receivedComments %}
                <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <strong class="me-auto">{{ comment.sender.firstName }}</strong>
                        <small>{{ comment.rating }} / 5</small>
                        {{ include('users/_delete_comment_form.html.twig') }}
                    </div>
                    <div class="toast-body">
                        {{ comment.message }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
</section>
{% endblock %}