{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<section>
    {% for message in app.flashes('notice') %}
    <div class="flash-notice">
        {{ message }}
    </div>
    {% endfor %}
    <h1>Profil</h1>
    <div class="profilTop">
        <img class='userPicture' src="/upload/avatars/{{ app.user.picture }}" alt="ne s'affiche pas">
        <div class="profilRight">
            <p>{{ app.user.notation }} / 5</p>
            {% if app.user.available %}
            <a href="{{ path('users_availability') }}"><button type="button"
                    class="btn btn-success">Disponible</button></a>
            {% else %}
            <a href="{{ path('users_availability') }}"><button type="button"
                    class="btn btn-danger">Indisponible</button></a>
            {% endif %}
            <h5>{{ app.user.firstname }} {{ app.user.lastname }}</h5>
        </div>
    </div>


    <table class="profilTable">
        <tbody>
            <tr>
                <th>Email :</th>
                <td>{{ app.user.email }}</td>
            </tr>
            <tr>
                <th>Linkedin :</th>
                <td>{{ app.user.linkedin }}</td>
            </tr>
            <tr>
                <th>Site Web :</th>
                <td>{{ app.user.website }}</td>
            </tr>
            <tr>
                <th>Société :</th>
                <td>{{ app.user.company }}</td>
            </tr>
        </tbody>
    </table>
    <table class="description">
        <thead>
            <tr>
                <th>Description :</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ app.user.description }}</td>
            </tr>
        </tbody>
    </table>
    <a class="profilBtnEdit" href="{{ path('users_edit_profile') }}"><button type="button"
            class="btn btn-outline-primary">Modifier votre profil</button></a>
    <hr>
    <div class="profilBottom">
        <h5>Vos Compétences :</h5>
        <ul class="skillList">
            {% for skill in app.user.skill|slice(0, 5) %}
            <li>{{ skill.name }}</li>
            {% endfor %}
        </ul>
        {% include "users/_userSkillForm.html.twig" %}
    </div>
    <div class="comments">
        <h5>Commentaires :</h5>
        {% for comment in app.user.receivedComments %}
        <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">{{ comment.sender.firstName }}</strong>
                <small>{{ comment.rating }} / 5</small>
                {{ include('users/_delete_comment_form.html.twig') }}
            </div>
            <div class="toast-body">
                {{ comment.message }}
            </div>
        </div>

        {% endfor %}
    </div>
</section>
{% endblock %}